################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/eletronicacenterbackend.business/obj
/eletronicacenterbackend.data/obj
/eletronicacenterbackend.model/obj
/.vs
/eletronicacenterbackend.business/bin/Debug/net8.0
